# Configuration file for all scripts. 
# This is a bash script that can be sourced, because I am naive.

# You can make these the same if both helpers and customers can 
# see the same URL, but in our situation customers see an internet 
# facing URL and helpers use an internal network host. Either can be 
# specified as hostnames or IP addresses.

SSH_HOST_CUSTOMER="sshtunnel.contoso.com"
SSH_HOST_HELPER="192.168.1.254"

SSH_PORT="22202"
VNC_BASE="29700"

DEBUG_LEVEL="1"

VNC_LOCALPORT="5900"

CUSTOMER_PREFIX="customer"
HELPER_PREFIX="helper"

# This means accounts customer01 through customer05 (and the
# corresponding helper accounts) exist.
LAST_ACCOUNT="05"

LOGBASE=`basename $0 .sh`
LOGFILE=`mktemp /tmp/$LOGBASE-$(date +"%F-%H:%M")-XXX.log`

# Used only in technician script
# This had better support the -e switch for executing a command
XTERM=x-terminal-emulator

# used only by unlock script
# How long to unexpire the account, in seconds. (172800 = 48 hours)
ACCOUNT_DURATION="172800"

# Be nice and return success
return 0

